/* p{
    font-size: 75px;
    color: red;
    text-shadow: black 10px 10px 10px, 0 0 22px rgb(0, 255, 170);
} */
/* p{
    font-size: 75px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 3px;
    color: yellow;
    text-shadow: black 3px 3px 3px;
} */
/* p{
    background-color: brown;
    width: 400px;
    height: 150px;
    font-size: 70px;
    box-shadow: rgb(0, 255, 136) 0px 3px 10px 1px inset;
} */

.tarjeta{
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px;
}
.numero{
    background-color: brown;
    color: antiquewhite;
    padding: 10px;
    font-size: 50px;
}
.titulo{
    padding: 5px;
}